.buttonTopdiv{
    display: none;/* Hidden by default */
    /* display: flex; */
    font-family: "DM Sans";
    position:fixed;
    width: 100%;
    height: fit-content;
    top: 2px;
    justify-content: center;
    align-items: center;
    z-index: 48; /* Make sure it does not overlap */
  }
  .buttonTop{
    border-radius: 5px;
    background-color: #d3573c;
    color: #000000;
    font-family: "DM Sans";
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    border:none;
    width: auto;
    height: auto;
  }
  
  