/* .likebutton{
 border: none;
 cursor: pointer;
 padding: 20px;
}


.fa-heart{
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
} */

.container {
  text-align: center;
  font-size: 20pt;
  font-family: "arial";
  margin-top: 200px;
}

/* .far {
    color: grey;
} */

.fas {
  color: magenta;
}


.heart {
  cursor: pointer;
}

/* .pulse {
  animation: pulse 0.5s;
}

@keyframes .pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
} */
