/*Profiles*/

.boxes {
  margin: auto;
  width: 100%;
}
.filteredUser {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  height: auto;
}

.filteredUser__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  float: left;
  margin: 20px;
}

.filteredUser__btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 25px;

  margin: 20px;
}

.filteredUser__img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
  margin: 20px;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profil {
  display: flexbox;
  width: 32%;
  justify-content: center;
  background-color: #fff;
}

.boxgrey {
  display: flex;
  align-items: flex-start;
  margin: auto;
  width: 80%;
  background: #fafafa;
}

.profile {
  display: flex;
  flex-direction: ;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.id {
  display: none;
}

.foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  font-weight: bold;
  padding: 0 10px;
  color: #fafafa;
  background: #901c1c;
  border: none;
  width: fit-content;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  /*z-index: 30;*/
}

.button:hover {
  background: #db8876;
  color: #000000;
}

.btn {
  margin-top: 30px;
  position: absolute;
  align-content: center;
  left: 30%;
}

/*Galerie*/

.photographer-page__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  width: 80%;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  width: 300px;
  cursor: pointer;
}

.galerie__box{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-right: 50px;
  /* width: 27%; */
}

.galerie__user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  /* margin-bottom: 10px; */
}

.galerie__image {
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  border-radius: 5px;
  /* width: 30%; */
}

.galerie__img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.galerie__title {
  display: flex;
  color: #901c1c;
  font-size: 1em;
  font-weight: 400;
}

.galerie__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.galerie__likes {
  color: #901c1c;
  background: none;
  font-size: 1.5em;
 padding: 0;
}

.galerie__video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.galerie__infoDown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #db8876;
  position: fixed;
  font-weight: bold;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 60px;
  margin-right: 10%;
}

.galerie__infolikes {
  color: black;
  padding: 10px;
}

.galerie__infotitle {
  color: black;
  padding: 10px;
}

/*Galerie hidden stuff*/

.pID,
.photoID,
.photoTags,
.photoDate,
.photoPrice {
  display: none;
}

/*Likes counter*/

.fa-heart {
  /* color: #901c1c; */
  height: 2em;
  width: 2em;
  transition: all .2s ease-in-out;
}

.fa-heart:hover{
  /* color: #DB8876; */
   transform: scale(1.3);  
}


.HeartLIKES {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
}

.numberLikes {
  color: #901c1c;
  font-size: 1.5em;
  padding-right: 10px;
  margin: 0;
}

.buttonlike {
  background: none;
  padding: 15px 15px;
  margin: 0;
  font-size: 1em;
  cursor: pointer;
}

#photographerLikes {
  display: none;
}

.menuDrop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin: 20px;
  margin-left: 5%;
}
.buttonMenu {
  font-weight: bold;
  padding: 0 10px;
  color: #fafafa;
  background: #901c1c;
  border: none;
  width: fit-content;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  z-index: 30;
}

/*modal*/
.overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}

.modalBox {
  display: none; /* Hidden by default */
}
.modal {
  width: 300px;
  position: fixed;
  left: 50%;
  top: 25%;
  margin-left: -150px;
  margin-top: -150px;
  /* position: fixed;
  top: 10%;
  left: 20%;
  bottom: 10%;
  right: 20%; */
  border-radius: 5px;
  z-index: 50;
  max-height:90%;
  max-width: 80%;
  height: fit-content;
  background: #db8876;
  color: black;
}

.modalplace {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px 20px;
}

.contactName {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 47px;
  text-align: left;
  color: #000000;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border: none;
}
#send {
  margin-top: 20px;
}

.close-button {
  font-size: 2em;
  color: white;
  background: none;
  padding: 0;
  cursor: pointer;
}
.firstname,
.lastname,
.email,
.message {
  font-size: 1em;
  height: 30px;
  border-radius: 5px;
}

.messageinput {
  height: 100px;
  border-radius: 5px;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.error {
  display: none;
}

/* .modal {
  display: none;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 5px;
  z-index: 50;
  width: 300px;
  max-width: 80%;
  background-color:#DB8876;
} */

/* .modal.active {
  transform: translate(-50%,-50%) scale(1);
}

.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contactName{ */
/* display: flex;
  align-items: flex-start;
  color: white;
  font-weight: 400;
}
.modal-header .close-button{
  cursor: pointer;
  background: none;
  font-size: 2em;
  color: white;
}


.modal-body{
  padding: 10px 15px;
} */

/* #overlay{
  position:fixed;
  opacity:0;
  transition: 200ms ease-in-out;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0,.5);
  pointer-events: none;
}

#overlay.active{
  opacity:1;
  pointer-events: all;
} */


/* dropdown proba */



.buttonMenu {
  font-weight: bold;
  padding: 0 10px;
  color: #fafafa;
  background: #901c1c;
  border: none;
  width: fit-content;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-left: 20px;
}

.buttonMenu:hover {
  background: #db8876;
  color: #000000;
}
.sortedRes {
  display: none;
}




/* dropdown scrool HOVER menu */


.dropdownmenu{
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropMenu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
  width: 80%;
}

/* Dropdown Button */
.dropbtn {
  background:#901c1c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.dropbtn:hover,:focus{
  border-radius: 5px 5px 0 0;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  /* width: 25%; */
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background:#901c1c;
  color: white;
  border-radius: 0 0 5px 5px ;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  /* border-radius: 0 0 5px 5px ; */
  border-top: 1px solid white;
  /* left: 10%; */
  /* width: 50%;  or 100px */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background: #db8876;
  color: #000000;
  outline:none;
  background: #DB8876;
  overflow: hidden;
  
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background: #db8876;
  color: #000000;
  
}


/* proba */
#myId{
  font-size: 3em;
  display: none;
}


/* button hide show div */
.third{
  display: none;
}

.tit, .date{
  display: none;
}

/* tags change color */

.imggrid{
  width: 300px;
  height: 300px;
}

/* likes odvojeno */

.galerieOdvojeno{
  display: flex;
width: auto;
height: 200px;
}


/* dropdown tuto */


.dropDownMenu2 {
  display: flex;
  flex-direction: row;
  margin:auto;
  width: 80%;
}

.dropdown{
  position: relative;
  cursor: pointer;
}

.dropdown .dropdown-toggle{
  appearance: none;
  background: #901c1c;
  color: #fff;
  border: 0;
  padding: 12px 35px 12px 12px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  /* border-top: 1px solid white; */
}

.dropdown .dropdown-toggle::after {
  content: '';
  border-width: 6px;
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: inherit;
  position: absolute;
  right: 12px;
  top: calc(50% + 3px);
  transform: translateY(-50%);
}

.dropdown .dropdown-toggle.active::after {
  border-color: transparent;
  border-bottom-color: inherit;
  top: calc(50% - 3px);
}

.dropdown .dropdown-menu {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  background: #901C1C;
  color: white;
  box-shadow:#DB8876;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  max-width: 320px;
  width: calc(100% + 24px);
  border-radius: 5px;
  z-index: 10;
  visibility: hidden;
  overflow: auto;
  max-height: 200px;

}

.dropdown .dropdown-menu[aria-expanded="true"] {
  visibility: visible;
}


.dropdown .dropdown-menu li {
  height: 35px;
  display: block;
  align-items: center;
  padding: 10px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid white;
}


.dropdown .dropdown-menu li:hover,
.dropdown .dropdown-menu li:focus{
  outline:none;
  background: #DB8876;

}