/*Profiles*/

.boxes {
  margin: auto;
  width: 100%;
}
.filteredUser {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  height: auto;
}

.filteredUser__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  float: left;
  margin: 20px;
}

.filteredUser__btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 25px;

  margin: 20px;
}

.filteredUser__img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
  margin: 20px;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profil {
  display: flexbox;
  width: 32%;
  justify-content: center;
  background-color: #fff;
}

.boxgrey {
  display: flex;
  align-items: flex-start;
  margin: auto;
  width: 90%;
  background: #fafafa;
}

.profile {
  display: flex;
  flex-direction: ;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.id {
  display: none;
}

.foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  font-weight: bold;
  padding: 0 10px;
  color: #fafafa;
  background: #901c1c;
  border: none;
  width: fit-content;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  /*z-index: 30;*/
}

.button:hover {
  background: #db8876;
  color: #000000;
}

.btn {
  margin-top: 30px;
  position: absolute;
  align-content: center;
  left: 30%;
}

/*Galerie*/

.galerie__user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.galerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}

.galerie__image {
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  border-radius: 5px;
}

.galerie__img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.galerie__title {
  display: flex;
  color: #901c1c;
  font-size: 1em;
  font-weight: 400;
}

.galerie__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.galerie__likes {
  color: #901c1c;
  background: none;
  size: 12px;
  font-weight: 400;
  font-weight: 400;
}

.galerie__video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.galerie__infoDown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #db8876;
  position: fixed;
  font-weight: bold;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 60px;
  margin-right: 5%;
}

.galerie__infolikes {
  color: black;
  padding: 10px;
}

.galerie__infotitle {
  color: black;
  padding: 10px;
}

/*Galerie hidden stuff*/

.pID,
.photoID,
.photoTags,
.photoDate,
.photoPrice {
  display: none;
}

/*Likes counter*/

.fa-heart {
  color: #901c1c;
  height: 1em;
}

.HeartLIKES {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
}

.numberLikes {
  color: #901c1c;
  font-size: 1.5em;
  padding: 15px 15px;
  margin: 0;
}

.buttonlike {
  background: none;
  padding: 15px 15px;
  margin: 0;
  font-size: 1em;
  cursor: pointer;
}

#photographerLikes {
  display: none;
}

.menuDrop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin: 20px;
  margin-left: 5%;
}
.buttonMenu {
  font-weight: bold;
  padding: 0 10px;
  color: #fafafa;
  background: #901c1c;
  border: none;
  width: fit-content;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  /*z-index: 30;*/
}

/*modal*/

/* .modalBox{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 196, 196, 0.4);
}

.modalBox {
  display: none;
}
.modal {
  position: fixed;
  top: 10%;
  left: 20%;
  bottom: 10%;
  right: 20%;
  border-radius: 5px;
  z-index: 50;
  width: 400px;
  max-width: 80%;
  height: fit-content;
  background: #db8876;
  color: black;
}

.modalplace {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.contactName{
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border: none;
}
#send {
  margin-top: 20px;
}

.close-button {
  font-size: 2em;
  color: white;
  background: none;
  cursor: pointer;
}
.firstname,
.lastname,
.email,
.message {
  font-size: 1em;
  height: 30px;
  border-radius: 5px;
}

.messageinput {
  height: 100px;
  border-radius: 5px;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.error {
  display: none;
}

/* .modal {
  display: none;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 5px;
  z-index: 50;
  width: 300px;
  max-width: 80%;
  background-color:#DB8876;
} */

/* .modal.active {
  transform: translate(-50%,-50%) scale(1);
}

.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contactName{ */
/* display: flex;
  align-items: flex-start;
  color: white;
  font-weight: 400;
}
.modal-header .close-button{
  cursor: pointer;
  background: none;
  font-size: 2em;
  color: white;
}


.modal-body{
  padding: 10px 15px;
} */

/* #overlay{
  position:fixed;
  opacity:0;
  transition: 200ms ease-in-out;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0,.5);
  pointer-events: none;
}

#overlay.active{
  opacity:1;
  pointer-events: all;
} */
