.dropdownPART {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.dropdown {
  width: 170px;
  position: relative;
  cursor: pointer;
  margin: 10px;
}

.dropdown__toggle {
    width: 170px;
  background-color: #901c1c;
  color: #fff;
  border: 0;
  padding: 12px 15px 12px 12px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.fa-chevron-up {
  size: 1em;
  padding-left: 12px;
}

.dropdown__menu {
  background-color: #901c1c;
  color: #fff;
  border-radius: 5px;
  padding: 12px 15px 12px 12px;
  cursor: pointer;
  z-index: 10;
  visibility: hidden;
}
.dropdown__menu[aria-expanded="true"] {
  visibility: visible;
}

.dropdown__menu li {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-top: 1px solid;
}
